.titulo {
  color: #006db3;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .titulo {
    width: 80%;
    font-size: 30px;
  }
}

.containerInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .containerInfo {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
