html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
